<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Финансовый трекер</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta name="_theme" th:content="${currentTheme != null ? #strings.toLowerCase(currentTheme) : 'light'}"/>
    <script>
        document.documentElement.setAttribute('data-bs-theme',
            document.querySelector('meta[name="_theme"]').content);
    </script>

    <link rel="icon" type="image/x-icon" th:href="@{/logo.svg}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/styles/choices.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
</html>